<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.project.k51star.mapper.CarMapper">
 	<select id="categoryFuel" resultType="String">
   	SELECT
		distinct(fuel)
	FROM 
		car_info
   </select>

   <select id="searchModel" resultType="com.project.k51star.dto.CarInfoDto" parameterType="hashmap">
      SELECT *
      FROM car_info
      WHERE 
      	fuel LIKE CONCAT("%",#{fuel},"%")
      AND
      	(
      		car_model LIKE CONCAT("%",#{car_model},"%")
      	OR
      		manufacturer LIKE CONCAT("%",#{car_model},"%")
      	)
   </select>
   
  
</mapper>