<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.project.k51star.mapper.CarMapper">
 	<select id="categoryFuel" resultType="String">
   	SELECT
		distinct(fuel)
	FROM 
		car_info
   </select>

   <select id="searchModel" resultType="com.project.k51star.dto.CarInfoDto" parameterType="hashmap">
      SELECT *
      FROM car_info
      WHERE 
      	fuel LIKE CONCAT("%",#{fuel},"%")
      AND
      	(
      		car_model LIKE CONCAT("%",#{car_model},"%")
      	OR
      		manufacturer LIKE CONCAT("%",#{car_model},"%")
      	)
   </select>
   
   <update id="updateCarInfo" parameterType="hashmap">
	   UPDATE 
	   	car 
	   SET 
	   	car_id=#{car_id}
	   WHERE 
	   	member_id=#{member_id}
   </update>
   
   <insert id="insertCarInfo" parameterType="hashmap">
	   INSERT INTO 
	   	car (member_id, car_id)
	   VALUE 
	   	(#{member_id},#{car_id})
   </insert>
  	<select id="searchCarInfoByEmail" parameterType="String" resultType="com.project.k51star.dto.CarInfoDto">
		SELECT
			COUNT(*) AS CT,
			CI.CAR_ID,
			CI.CAR_MODEL,
			CI.MANUFACTURER,
			CI.FUEL,
			CI.KPL
		FROM
			CAR AS C 
				LEFT OUTER JOIN 
			CAR_INFO AS CI
				ON	C.CAR_ID = CI.CAR_ID
		WHERE
			C.MEMBER_ID = (SELECT
			A.ID
		FROM
			ACCOUNT AS A
		WHERE
			A.EMAIL LIKE #{email})
	</select>
</mapper>